.header-carrossel {
    display: flex;
    justify-content: space-between;
    background: #000;
    padding: 10px;
}

.header-carrossel p {
    color: #fff;
    font-size: 0.6rem;
}

.header-carrossel p span {
    font-weight: 500;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header-menu a {
    display: inline-block;
    padding: 16px 2px;
    position: relative;
}

.header-menu a:after{
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: linear-gradient(to right, red, orange, white);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
    width: 100%;
}

/* @media (max-width: 800) {
    
} */