.carrossel-promo {
    background-color: black;
    color: white;
    position: relative;
    padding: 8px 0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

.slide {
    font-size: .875rem;
    text-align: center;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
    margin: 0 48px;
}

.slide p span {
    font-weight: 500;
}

.slide.ativo {
    display: block;
}

.slide a {
    color: white;
    text-decoration: none;
}

.slide a:hover {
    text-decoration: underline;
}

.botao-nav {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
}

.botao-nav:hover {
    opacity: 0.8;
}

.anterior {
    left: 16px;
}

.proximo {
    right: 48px;
}

.fechar {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
}

.fechar:hover {
    opacity: 0.8;
}

.indicadores {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 8px;
}

.indicador {
    width: 16px;
    height: 4px;
    background-color: #666;
    border-radius: 2px;
    cursor: pointer;
}

.indicador.ativo {
    background-color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .slide {
        margin: 0 32px;
        font-size: .875rem;
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header-menu a {
    display: inline-block;
    padding: 16px 2px;
    position: relative;
}

.header-menu a:after{
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: linear-gradient(to right, red, orange, white);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
    width: 100%;
}

@media (max-width: 600px) {
    .header-menu {
        display: none;
    }
}